.titleBanner {
    background-color: rgb(150, 24, 47);
    text-align: center;
    color: blue;
    font-size: 40px;
    border-bottom: solid black;
    padding: 2em;
}

.titleBanner aside {
    font-size: 20px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.introDiv {
    background-image: url("images/team.jpg");
    background-size: contain;
}

.introDiv2 {
    background-color: coral;
}

.introDiv h1 {
    text-align: center;
}


/* li {
    display: flex;
} */

.services {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #67c2e0;
    /* flex-direction: row;
    flex-wrap: wrap; */
    ;
}

.services img {
    border-radius: 100%;
}

.image-wrapper {
    padding: 1em;
}

.heading-wrapper {
    background-color: rgb(193, 13, 13);
}

.contactForm {
    position: relative;
    padding: 2em;
    border: solid black;
    background-color: aqua;
    /* right: 20px;
    left: 20px; */
    /* top: 20px; */
    /* padding-top: 2em;
    padding-bottom: 2em; */
}

.popup {
    border: solid black;
    /* visibility: hidden; */
}

.show {
    border: solid red;
}

h1 {
    text-align: center;
}

form {
    background-color: lightgray;
}


/* .card-deck {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
}

.card-deck .card {
    display: block;
    flex-basis: 33.3%; */


/* change this value for each breakpoint*/


/* responsive design */

@media only screen and (max-device-width: 600px) {
    .services {
        flex-direction: column;
        background-color: rgb(63, 9, 19);
    }
    .card-columns {
        display: flex;
        flex-direction: column;
    }
}