    .titleBanner {
        /* background-color: rgb(150, 24, 47); */
        background: radial-gradient(#3f5efb, #880909, #fc466b);
        text-align: center;
        text-shadow: rgb(122, 218, 13) 1px 0 10px;
        color: rgb(198, 230, 17);
        font-size: 40px;
        border-bottom: solid black;
        padding: 2em;
        padding-bottom: 1em;
        width: 100%
    }
    
    .titleBanner aside {
        font-size: 20px;
    }
    /* .mainContent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */
    
    .introDiv {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/team.jpg");
        background-size: contain;
        color: white;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .introDiv2 {
        background-color: rgba(160, 147, 142, 0.404);
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .introDiv h1 {
        text-align: center;
    }
    /* li {
    display: flex;
} */
    
    .services {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #67c2e0;
        /* flex-direction: row;
    flex-wrap: wrap; */
        ;
    }
    
    .services img {
        border-radius: 100%;
    }
    
    .block-quotes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .quote-item {
        padding: 2em;
        background-color: aqua;
        border: solid black;
    }
    
    .image-wrapper {
        padding: 1em;
    }
    
    .heading-wrapper {
        background-color: rgb(193, 13, 13);
    }
    
    .contactForm {
        position: relative;
        padding: 2em;
        border: solid black;
        background-color: aqua;
        /* right: 20px;
    left: 20px; */
        /* top: 20px; */
        /* padding-top: 2em;
    padding-bottom: 2em; */
    }
    
    .popup {
        border: solid black;
        background-color: #0ea80b;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        z-index: 2;
    }
    
    .show {
        border: solid red;
    }
    
    .card {
        background-color: goldenrod;
    }
    
    .card-columns {
        background-color: cornflowerblue;
    }
    
    .footer-display {
        color: white;
        background-color: black;
        /* display: inline-flex; */
        padding: 4em;
    }
    
    .footer-links {
        background-color: darkgoldenrod;
        padding: .5em;
        text-align: center;
    }
    
    .footer-links li {
        display: inline-flex;
        margin: 15px;
    }
    
    .estimate {
        background-image: url("images/under-construction.jpg");
        background-size: contain;
        padding: 10em;
        color: aliceblue;
    }
    
    #hiddenMessage {
        color: chartreuse;
    }
    
    h1 {
        text-align: center;
    }
    
    form {
        background-color: lightgray;
        border: solid black;
        padding: 2em;
    }
    /* responsive design */
    
    @media only screen and (max-device-width: 768px) {
        .services {
            flex-direction: column;
            background-color: rgb(63, 9, 19);
        }
        .wrapper {
            display: flex;
            flex-direction: column;
        }
        .card-img-top {
            max-width: 500px;
            max-height: 500px;
        }
        .block-quotes {
            flex-direction: column;
        }
        .footer-links li {
            display: flex;
            flex-direction: column;
        }
        .introDiv,
        .introDiv2 p {
            padding-left: 3em;
            padding-right: 3em;
        }
    }